.sign-up{
    display: flex;
    flex-direction: column;
    width: 380px;
    .title{
        margin: 10px 0;
    }
}
@media only screen and (max-width:768px){
    .sign-up{
        margin-top: 20%;
        button{
            margin:auto;
        }
    }
}