.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .header{
      height: auto;
      margin-bottom: 5px;
      .options{
        width: 80%;
        .option{
          padding: 22px 10px;
        }
      }
      .logo-container{
        width:50px;
        padding:12px;
      }
    }
  }
  